
name: Sync Azure DevOps Repo to GitHub

on:
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout GitHub repo
        uses: actions/checkout@v3

      - name: Clone Azure DevOps Repo
        run: |
          echo "Cloning Azure DevOps repo..."
          git clone https://fabric0316:${{ secrets.AZURE_DEVOPS_PAT }}@dev.azure.com/fabric0316/OilandGas/_git/OilGas-DataEngineering azure-devops

      - name: Push to GitHub
        run: |
          cd azure-devops

          echo "Checking out main branch..."
          git checkout main || {
            echo "main branch not found!"
            exit 1
          }

          echo "Adding Git
