name: Sync from Azure DevOps

on:
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout GitHub repo
        uses: actions/checkout@v3

      - name: Clone Azure DevOps repo
        run: |
          git clone https://fabric0316:${{ secrets.AZURE_DEVOPS_PAT }}@dev.azure.com/fabric0316/OilandGas/_git/OilGas-DataEngineering azure-repo

      - name: Push to GitHub
        run: |
          cd azure-repo
          git remote add github https://github.com/sandhya-datatech/OilGas-DataEngineering.git
          git push github main --force
