
name: Sync Azure DevOps Repo to GitHub

on:
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout GitHub repo
        uses: actions/checkout@v3

      - name: Clone Azure DevOps Repo
        run: |
          echo "Cloning Azure DevOps repo..."
          git clone https://fabric0316:${{ secrets.AZURE_DEVOPS_PAT }}@dev.azure.com/fabric0316/OilandGas/_git/OilGas-DataEngineering azure-devops

      - name: Push to GitHub
        run: |
          cd azure-devops
          git checkout main || git checkout master

          git remote add github https://github.com/sandhya-datatech/OilGas-DataEngineering.git

          git push github --all --force
          git push github --tags --force

          echo "Done!"
